name: ci
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

env:
  AGDA_BRANCH: v2.8.0
  CUBICAL_BRANCH: v0.9
  GHC_VERSION: 9.10.2
  CABAL_VERSION: 3.16.0.0
  CABAL_INSTALL: cabal install --overwrite-policy=always --ghc-options='-O1 +RTS -M6G -RTS'
  CACHE_PATHS: |
    ~/.cabal/packages
    ~/.cabal/store
    ~/.cabal/bin
    ~/.agda

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install cabal
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ env.GHC_VERSION }}
          cabal-version: ${{ env.CABAL_VERSION }}
          cabal-update: true

      - name: Restore external dependencies cache
        uses: actions/cache/restore@v3
        id: cache-external-restore
        with:
          path: ${{ env.CACHE_PATHS }}
          key: ${{ runner.os }}-${{ env.GHC_VERSION }}-${{ env.CABAL_VERSION }}-${{ env.AGDA_BRANCH }}

      ########################################################################
      ## INSTALLATION STEPS
      ########################################################################

      - name: Download and install Agda from github
        if: steps.cache-external-restore.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/agda/agda --branch ${{ env.AGDA_BRANCH }} --depth=1
          cd agda
          mkdir -p doc
          touch doc/user-manual.pdf
          ${{ env.CABAL_INSTALL }}
          cd ..
          rm -rf agda

      - name: Save external dependencies cache
        if: steps.cache-external-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        id: cache-external-save
        with:
          path: ${{ env.CACHE_PATHS }}
          key: ${{ steps.cache-external-restore.outputs.cache-primary-key }}

      ########################################################################
      ## CHECKOUT
      ########################################################################

      # By default github actions do not pull the repo
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: symmetries

      - name: Checkout cubical
        uses: actions/checkout@v4
        with:
          repository: agda/cubical
          path: cubical
          ref: ${{ env.CUBICAL_BRANCH }}

      - name: Register cubical
        run: |
          mkdir ~/.agda
          echo "$GITHUB_WORKSPACE/cubical/cubical.agda-lib" >> ~/.agda/libraries

      ########################################################################
      ## TESTING
      ########################################################################

      - name: Put cabal programs in PATH
        run: echo "~/.cabal/bin" >> $GITHUB_PATH

      - name: Generate everything.agda
        run: |
          cd symmetries
          chmod +x create-everything.sh
          ./create-everything.sh

      - name: Test
        run: |
          cd symmetries
          agda --build-library
